* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --button-gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --base-font-size: 15px;
}

html {
  font-size: var(--base-font-size);
  font-family: "Montserrat";
}

.card:hover {
  /* background-image: -webkit-linear-gradient(
    left,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  ); */
  background-color: hsl(237, 63%, 64%);
  height: 105%;
  margin: 10px;
  color: white;
  box-shadow: 5px 10px #888888;
  -webkit-box-shadow: 10px 10px 67px 0px rgba(0, 0, 0, 0.75);
}
.card:hover > p {
  color: white;
}
.card:hover > h5 {
  color: white;
}

.card:hover > button {
  background-image: linear-gradient(#ffffff, #ffffff);
  color: var(--dark-grayish-blue);
}

.card:hover .price {
  color: white;
}

.card:hover .currency {
  color: white;
}
.main-container {
  background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top -5% left 310%, left bottom;
  background-size: 80%;
  width: 100vw;
  background-position: top-right;
  background-color: var(--very-light-grayish-blue);
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.headercontainer {
  margin: 10px 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: var(--grayish-blue);
  font-size: 1.9rem;
  font-family: "Montserrat";
  margin-bottom: 2rem;
  font-weight: 700;
}

.headertext {
  color: var(--light-grayish-blue);
  font-size: 1.1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.monthly-plan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 1rem;
  padding: 1.2rem;
  line-height: 3rem;
  text-align: center;
  /* box-shadow: 10px 10px 15px 0px var(--dark-grayish-blue) inset; */
  border-radius: 0.5rem;
}

.card-title {
  color: var(--grayish-blue);
  font-size: 1.2rem;
}

.price-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  color: var(--dark-grayish-blue);
  font-size: 4rem;
  margin: 1rem;
  align-self: center;
  font-weight: 700;
}
.currency {
  color: var(--dark-grayish-blue);
  font-size: 2.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  color: var(--grayish-blue);
  font-size: 1.3rem;
  width: 80%;
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 10px;
}
.b-top {
  border-top: 1px solid var(--light-grayish-blue);
}

.btn {
  margin-top: 2rem;
  background-image: -webkit-linear-gradient(
    left,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  height: 50px;
  width: 80%;
  color: white;
  font-size: 1.3rem;
  border-style: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.yearly-plan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .main-container {
    background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
    background-position: top 0% left 97%, left bottom;
    background-size: 20%, 20%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .title {
    color: var(--grayish-blue);
    font-size: 1.9rem;
    font-family: "Montserrat";
    margin-bottom: 2rem;
  }
  .headercontainer {
    margin: 10px 5px;
    width: 20%;
  }

  .headertext {
    color: var(--light-grayish-blue);
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .bottom-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .monthly-plan {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .yearly-plan {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card {
    margin: 20px 0px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hide {
  display: none;
}
